@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");

#app {
  width: max-content;
  font-weight: normal;
}

a,
.green {
  transition: 0.4s;
  color: hsla(160, 100%, 37%, 1);
  text-decoration: none;
}

#page {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: var(--base-shadow);
  border-radius: 1.3rem;
  background-color: var(--color-background-section);
  padding: 2.5rem;
  width: 100%;
  height: max-content;

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 1.75rem;
  }

  #cards {
    grid-gap: 0.125rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1.25rem;

    .card {
      display: grid;
      transition: background-color 300ms;
      background-color: var(--color-background-soft);
      height: max-content;
      text-align: center;

      &:hover {
        background-color: var(--color-background-mute);
      }

      &:first-child {
        border-top-left-radius: 0.9375rem;
        border-bottom-left-radius: 0.9375rem;

        .head {
          border-top-left-radius: 0.9375rem;
        }
      }

      &:last-child {
        border-top-right-radius: 0.9375rem;
        border-bottom-right-radius: 0.9375rem;

        .head {
          border-top-right-radius: 0.9375rem;
        }
      }

      .subject {
        font-weight: 800;
      }

      .date {
        color: var(--color-text);
        font-size: 13px;
        font-family: "Source Code Pro", monospace;
      }

      .head {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.25rem;

        h3 {
          color: var(--color-text);
          font-weight: 900;
          font-size: 25px;
        }
      }

      .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        padding: 2rem 1.25rem 1rem 1.25rem;
        text-align: center;
      }
    }
  }

  #copyright {
    position: relative;
    margin-top: 5%;
    color: var(--color-text-dim);
    font-weight: 500;
    text-align: right;
  }
}

input[type="password"] {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: color 300ms;
  border: 0.0625rem #fff;
  background-color: var(--color-background);
  padding: 0.3125rem;
  color: var(--color-text);
}
